@model IEnumerable<DBModel.Group>

<div>
    <h1>Groups</h1>
    <div>
        <ul>
            @foreach (var group in Model)
            {
                <li style="width: 100%">
                    <span style="width:50%">@group.Name</span>
                    <div style="float: right">
                        <span>@Html.ActionLink("Edit", "Edit", new { id = @group.Id })</span>
                        &nbsp;
                        <span>@Html.ActionLink("Delete", "Delete", new { id = @group.Id })</span>
                    </div>
                    <div style="clear: both"></div>
                    <input type="hidden" value="@group.Id" />
                </li>
            }
        </ul>
    </div>
    @Html.ActionLink("New", "AddGroup")
</div>